/*------------------
importing fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@font-face {
    font-family: niconne;
    src: url("fonts/Niconne-Regular.ttf");
}
hr{
    border: 1px solid grey;
    width: 88%;
}
/*-----------------
utilities style
-----------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/*--------------------------- 
        navbar sytle 
-----------------------------*/
.header{
    position: absolute;
    color: white;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin-right: 40px;
}
/*-----------------------
Banner Container style
--------------------------*/
.banner-container{
    background-color: #2D25A0;
    
}
.banner-wrapper{
    height: 677px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.banner-content{
    width: 500px;
    height: 438px;
}
.banner-container h1{
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}
.banner-content img{
    width: 100%;
}
.banner-content:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.live-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
}
.live-button i{
    margin-left: 5px;
}
.live-button:hover{
    color: blue;
}
/*--------------------
player details style
---------------------*/
.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}
.player-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
    margin-top: 70px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-thumbnail img{
    width: 100%;
}
.player-details .player-name{
    color: #18191F;
    font-size: 28px;
    margin: 16px 0px;
}
.player-details p{
    color: #6C6C6C;
    font-size: 16px;
}
/*------------------------
gallery style
----------------------------*/
.gallery-container{
    margin-top: 30px;
    margin-bottom: 40px;
}
.gallery-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-wrapper h1{
    margin-bottom: 0;;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 7px;
    margin-top: 20px;
}
.photo{
    overflow: hidden;
}
.photo img{
    width: 365px;
    height: 365px;
}
.photo:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
/*------------------------------
highlishts sytle
--------------------------*/
.highlight-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
.highlights{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.highlight-info{
    width: 469px;
    height: 309px;
}
.highlight-info h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin: 0;
}
.highlight-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 41px;
}
.highlight-thumbnail{
    width: 567px;
    height: 427px;
}
.highlight-thumbnail img{
    width: 100%;
}
.highlight-thumbnail:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/*--------------------
    footer sytle 
-----------------------*/
footer{
    margin: 100px 0 50px 0;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    width: 483.87px;
    height: 110px;
}
.footer-logo img{
    width: 100%;
}
.footer-social{
    margin: 20px 0 10px 0;
}
.footer-social i{
    background-color: lightgrey;
    color: gray;
    padding: 6px;
    border-radius: 15px;
    font-size: 15px;
}
.footer-copyright p{
    font-size: 18px;
    color: #000000;
}

/*--------------------------
    results style
---------------------------------*/
.result-container{
    margin-top: 54px;
}
.result-contents{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.result-wrapper h1{
    text-align: center;
}
.result-group{
    display: flex;
    align-items: center;
}
.result-thambnail{
    width: 250px;
    height: 300px;

}
.result-thambnail img{
    width: 100%;
}
.result-score{
    width: 200px;
    height: 200px;
    text-align: center;
}
.result-score h1{
    font-size: 43px;
    margin-bottom: 0;
    margin-top: 0px;
}
.result-score p{
    color: gray;
}
/* -------------------
    media quaries 
---------------------*/


/* mobile devices */
@media only screen and (max-width:688px) {
    .banner-wrapper,.result-contents,.highlights{
        flex-direction: column;
        display: flex;
        text-align: center;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content img{
        width: 100%;
    }
    .player-wrapper,.gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlight-info{
        width: 50%;
        height: 50%;
        margin-bottom: 20px;
    }
    .highlight-thumbnail{
        width: 100%;
        margin-bottom: 20px;
    }
    .highlight-info h1{
        font-size: 38px;
    }
    .footer-logo{
        width: 80%;
        height: 80%;
    }

}
/* tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px){
    .banner-wrapper,.result-contents,.highlights{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-content h1{
        font-size: 60px;
    }
    .banner-content img{
        width: 50%;
    }
    .player-wrapper,.gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .highlight-info{
        margin-bottom: 30px;
    }

}